<div id="<%= dom_id tariff %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= tariff.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= tariff.weight %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Distance:</strong>
    <%= tariff.distance %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Duration:</strong>
    <%= tariff.duration %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Price:</strong>
    <%= tariff.price %>
  </div>
</div>
